
<!DOCTYPE html>

<html>
    <head>
        <title>Camera streaming video application </title>
    </head>
    <body>

    <h1>Please input the parameters: </h1>

<form action = "/res" method = "POST">
        <table>
            <tr>
                <td align="right">Width (Ширина):</td>
                <td align="left"><input type="number" name="width" value="1024" /></td>
            </tr>
            <tr>
                <td align="right">Height (Высота):</td>
                <td align="left"><input type="number" name="height" value="768" /></td>
            </tr>
            <tr>
                <td align="right">FPS (Кадров в секунду):</td>
                <td align="left"><input type="number" name="FPS" value="30" /></td>
            </tr>
            <tr>
                <td align="right">Brightness (Яркость):</td>
                <td align="left"><input type="number" name="brightness" value="20" /></td>
            </tr>
            <tr>
                <td align="right">Contrast (Контраст):</td>
                <td align="left"><input type="number" name="contrast" value="20" /></td>
            </tr>
            <tr>
                <td align="right">Saturation (Насыщенность):</td>
                <td align="left"><input type="number" name="saturation" value="64" /></td>
            </tr>
            <tr>
                <td align="right">Hue (Оттенок):</td>
                <td align="left"><input type="number" name="hue" value="20" /></td>
            </tr>
            <tr>
                <td align="right">Gain (Усиление):</td>
                <td align="left"><input type="number" name="gain" value="200" /></td>
            </tr>    
            <tr>
                <td align="right">Exposure (Выдержка):</td>
                <td align="left"><input type="number" name="exposure" value="1000" /></td>
            </tr>
            <tr>
                <td align="right">Sharpness (Зернистость):</td>
                <td align="left"><input type="number" name="sharpness" value="2" /></td>
            </tr>
            <tr>
                <td align="right">Rotate (Поворот):</td>
                <td align="left"><input type="number" name="rotate" value="0" /></td>
            </tr>
            <tr>
                <td align="right"><input type = "submit" value = "принять/отменить" /></td>
            </tr>
        
        </table>
          
        
    </form>
    


    </body>

</html>
